/* CSS Document */


#menu ul span#contas
{
	background-image:url(../imagens/contas_clicado.png);
	
}
#menu ul a:hover span#contas
{
	background-image:url(../imagens/contas_clicado.png);/*mudar a imagem aki!!!*/
}
#conteudo
{
	background-image:url(../imagens/PageContasImage/fundo.jpg);
	background-repeat:no-repeat;
	height:547px;
	text-align:left;
	position:relative;
	left:1px;
	
}

#conteudo form
{
	position:relative;
	top:20px;
	right:30px;
	float:right;

}
#titulo
{
	width:750px;
	background-color:#3994DA;
	padding:5px 0 5px 5px;
	color:#FFFFFF;
	font-weight:bolder;
	position:relative;
	top:60px;
	left:27px;
}

#informacoes
{
	background-color:#CCCCCC;
	width:754px;
	height:417px;
	position:relative;
	top: 65px;
	left: 26px;
}

#esq
{
	width:50%;
	display:block;
	float:left;
}
#receber,#pagar
{
	height:415px;
}
#botao
{
background-image:url(../imagens/PageContasImage/botaoInserirConta.png);
background-repeat:no-repeat;
display:block;
width:144px;
height:29px;
float:right;
position:relative;
right:22px;
top:15px;

}

#botao:hover
{
background-image:url(../imagens/PageContasImage/botaoInserirConta.png);


}