{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/defalt.css">

{% block  head_css_extra %}  {% endblock %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>

{% block  head_js_extra %}  {% endblock %}

<title>
{% block head_title_base %} Safe-Casch: {% block head_title %}{% endblock %}{% endblock %}
</title>

</head>

<body>

<div id="tudo">
	<div id="dados">Usu&aacute;rio: <span class="cor">{% block name_user %} {% endblock %}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &gt;&gt; <a href="#" class="cor" title="logout">logout</a></div>
	<div id="logo"></div>
	
	<div id="corpo">
		<div id="menu">
			<ul>
				<li><a href="/home" title="P&aacute;gina Inicial"><span id="inicio"></span></a></li>
				<li><a href="/livro" title="Livro do Caixa"><span id="livro"></span></a></li>
				<li><a href="/contas" title="Contas"><span id="contas"></span></a></li>
				<li><a href="/projetos" title="Projetos"><span id="projetos"></span></a></li>
				<li><a href="/requisicao" title="Requisi&ccedil;&atilde;o"><span id="requisicao"></span></a></li>
				<li><a href="/relatorios" title="Relat&oacute;rios"><span id="relatorios"></span></a></li>
				<li><a href="/modelos" title="Modelos de documentos"><span id="modelos"></span></a></li>
				<li><span id="linha"></span></li>
			</ul>
		</div>
		
		<div id="conteudo">
		    {% block base_content %} {% endblock%}	
		
			
	    </div><!-- Fim da div conteudo-->

</div><!-- Fim da div corpo-->

{% block base_popup  %} {% endblock %}


<div id="tela"></div>

</body>
</html>
