{% extends "base.html" %}

{% block head_title %}
Projetos
{% endblock %}

{% block  head_css_extra %} 
<link rel="stylesheet" href="{{ STATIC_URL }}css/projetos.css"> 
{% endblock %}

{% block  head_js_extra %} 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/projetos.js"></script> 
{% endblock %}

{% block name_user %}Bruno Medeiros{% endblock %}

{% block base_content %} 
<a href="#" id="botao" title="Adicionar Conta"></a>
<form>
    <select name= "ano"onchange="scripting(this.value)">
        <option value="">ANO</option>
        {% for ano in anos %}
        <option value="{{ ano }}">{{ ano }}</option>
        {% endfor %}
    </select>
</form>

<div id="livroConta" class="destaque cor">PROJETOS DE TODOS OS ANOS</div>

<div id="separacao">
    <ul id="flowtabs" class="navi">
        <li><a id="t1" href="#"></a></li>
        <li><a id="t2" href="#"></a></li>
        <li><a id="t3" href="#"></a></li>
    </ul>
        
    <div id="flowpanes">
        <!-- wrapper for scrollable items -->
        <div class="items">

        {% for grupo in server_data %}    
            <div class="meses">
            {% for mes in grupo %}
                {% if forloop.counter0 == 0 %}
                <div id="esqUm">
                {% else %}
                    {% if forloop.counter0 == 1 %}
                <div id="dirUm">
                    {% else %}
                        {% if forloop.counter0 == 2 %}
                <div id="esqDois">
                        {% else %}
                <div id="dirDois">
                        {% endif %}
                    {% endif %}
                {% endif %}
                    <div class="cabecario"><span>{{ mes.mes|upper }}</span></div>
                    <div class="corpo">
                        <ul>
                        {% for proj in mes.projetos %}
                            <li><a href="#" title="Responsável: {{ proj.responsavel }} / Valor: {{ proj.valor }}">{{ proj.nome }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}

            </div>
         {% endfor %}

	    </div>
	</div>
</div>
{% endblock%}


{%block base_popup%} 
<div id="popUp"   class="esconder">
	<a class="fechar" href="#" title="voltar"></a>
	<span id="nomePopUp" class="cor">Inserir Projeto</span>
	
	<form action="#" method="post">
        <label id="labelNomeProjetos" for="nomeProjeto">NOME:&nbsp;</label>
        <input type="text" name="nomeProjeto" id="nomeProjeto" />
        <label id="labelValorProjeto" for="valorProjeto" class="limpa">VALOR:&nbsp;</label>
        <input type="text" name="valorProjeto" id="valorProjeto" size="41"/>
        <label id="labelDataIniProjeto" for="dataIniProjeto">DATA IN&Iacute;CIO:&nbsp;</label>
        <input type="text" name="dataIniProjeto" id="dataIniProjeto" />
        <label id="labelDataTerProjeto" for="dataTerProjeto">DATA T&Eacute;RMINO:&nbsp;</label>
        <input type="text" name="dataTerProjeto" id="dataTerProjeto" />
        <label id="labelResponsavelProjeto" for="responsavelProjeto">RESPONS&Aacute;VEL:&nbsp;</label>
        <input name="responsavel"  id="responsavelProjeto" type="text" />
        <label id="labelDescricaoProjeto" for="descricaoProjeto">Descri&ccedil;&atilde;o:</label>
        <textarea name="descricaoProjeto" id="descricaoProjeto"></textarea>
	</form>
	
	<span class="separacao">Inserir Conta de Entrada</span>
	<div id="ContaEntrada">
        <div id="conta"> 
            <form action="#" method="post">
                <div id="esq">
                    <label for="dataConta">DATA:</label><input type="text" name="dataConta" id="dataConta" />
                    <label for="valorConta" class="limpa">VALOR:</label><input type="text" name="valorConta" id="valorConta" />
                    <label for="parcelasContaEntrada"class="limpa">Nº Parcelas: </label>
                    <input type="text" name="parcelasContaEntrada" id="parcelasContaEntrada" />
                    <label for="tipoContaEntrada" class="limpa">ESTADO:</label>
                    <select name="tipoContaEntrada" id="tipoContaEntrada">
                        <option value="1">Conta Corrente</option>
                        <option value="0">Caixa</option>
                    </select>
                </div>
                <div id="dir">
                    <label for="descricaoConta">DESCRI&Ccedil;&Atilde;O:</label><textarea name="descricao" id="descricaoConta"></textarea>
                </div>
            </form>
        </div>
	</div>

	<span class="separacao" id="separa">Inserir Conta de Sa&iacute;da</span>
	<div id="ContaSaida"><div id="contaSaida"> 
		<form action="#" method="post">
			<div id="esqSaida">
				<label for="dataContaSaida">DATA:</label><input type="text" name="dataConta" id="dataContaSaida" />
				<label for="valorContaSaida" class="limpa">VALOR:</label><input type="text" name="valorConta" id="valorContaSaida" />
                <label for="parcelasContaSaida"class="limpa">Nº Parcelas:</label>
                <input type="text" name="parcelasContaSaida" id="parcelasContaSaida" />
				<label for="tipoContaSaida" class="limpa">ESTADO:</label>
                <select name="tipoContaSaida" id="tipoContaSaida">
                    <option value="1">Conta Corrente</option>
                    <option value="0">Caixa</option>
                </select>
    		</div>
			<div id="dirSaida">
				<label for="descricaoContaSaida">DESCRI&Ccedil;&Atilde;O:</label>
                <textarea name="descricao" id="descricaoContaSaida"></textarea>
			</div>
		</form>
	</div>
    <a href="#" title="Inserir Projeto" class="inserirProjeto"></a>
</div>	

</div> 
{% endblock %}
