{% extends "base.html" %}

{% block head_title %}
Contas
{% endblock %}

{% block  head_css_extra %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/caixa.css" type="text/css"></link>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/contas.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.click-calendario-1.0.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.alerts.css" />
{% endblock %}

{% block  head_js_extra %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput-1.2.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.click-calendario-1.0-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mask_money.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mask_input.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.alerts.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/contas.js"></script>



{% endblock %}

{% block name_user %}Bruno Medeiros{% endblock %}

{% block base_content %}
        <a href="#" id="botao" title="Adicionar Conta"></a>
        <form action="#" method="post">
            <select name= "mes" id="mes">
                <option value="">M&Ecirc;S</option>
                <option value="janeiro">Janeiro</option>
                <option value="fevereiro">Fevereiro</option>
                <option value="marco">Mar&ccedil;o</option>
                <option value="abril">Abril</option>
                <option value="maio">Maio</option>
                <option value="junho">Junho</option>
                <option value="julho">Julho</option>
                <option value="agosto">Agosto</option>
                <option value="setembro">Setembro</option>
                <option value="outubro">Outubro</option>
                <option value="novembro">Novembro</option>
                <option value="dezembro">Dezembro</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <select name= "ano"  id="ano">
                <option value="">ANO</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
            </select>
        </form>
        <div id="titulo" class="arredonda">
            <span id="esq">ENTRADA</span>
            <span>SA&Iacute;DA</span>
        </div>
        <div id="informacoes">
            <div id="pagar">
                <div class="cabecario">
                    <span class="data">DATA</span>
                    <span class="descricao">DESCRI&Ccedil;&Atilde;O</span>
                    <span class="valor">VALOR</span>
                </div>
                <div class="corpo">
                    {% for conta in entradas %}
                        <br/>
                        <a href="javascript: void(0)" rel="{{ conta.conta.id}}" title="Modificar Conta" class="edicao">
                        <span class="data">{{ conta.data_vencimento|date:"d/m/Y" }}</span>
                        <span class="descricao">{{ conta.nome }}</span>
                        <span class="valor">R$ {{ conta.valor|floatformat:2 }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div id="receber">
                <div class="cabecario">
                    <span class="data">DATA</span>
                    <span class="descricao">DESCRI&Ccedil;&Atilde;O</span>
                    <span class="valor">VALOR</span>
                </div>
                <div class="corpo">
                    {% for conta in saidas %}
                        <br/>
                        <a href="javascript: void(0)" rel="{{ conta.conta.id}}" title="Modificar Conta" class="edicao">
                        <span class="data">{{ conta.data_vencimento|date:"d/m/Y" }}</span>
                        <span class="descricao">{{ conta.nome }}</span>
                        <span class="valor">R$ {{ conta.valor|floatformat:2 }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_popup %}
    <div id="popUp" class="esconder">
        <a class="fechar" href="#" title="voltar"></a>
        <span class="nomePopUp" class="destaque cor">Inserir Conta</span>

      
        <div id="conta">
            <form action="#" method="post">
                <div class="esq">
                    <label for="nomeConta">NOME:</label><input type="text" name="nomeConta" id="nomeConta" />
                    <label for="dataConta">DATA:</label><input type="text" name="dataConta" id="dataConta" />
                    <label for="valorConta">VALOR:</label><input type="text" name="valorConta" id="valorConta" />
                    <label for="parcelasConta">PARCELAS:</label><input type="text" name="parcelasConta" id="parcelasConta" />
                    <label class="limpa">TIPO:</label>
                    <input type="radio" name="tipoConta" id="tipoSaida" value="saida" checked="checked"/><label class="opcoes" for="tipoSaida">SA&Iacute;DA</label>
                    <input type="radio" name="tipoConta" id="tipoEntrada" value="entrada" /><label class="opcoes" for="tipoEntrada">ENTRADA</label>
                    <label class="limpa">LIVRO:</label>
                    <input type="radio" name="livro" id="livroCaixa" value="caixa" checked="checked"/><label for="livroCaixa" class="opcoes">CAIXA</label>
                    <input type="radio" name="livro" id="livroConta" value="conta" /><label for="livroConta" class="opcoes">CONTA</label>
                </div>
                <div id="dir">
                    <label for="descricaoConta">DESCRI&Ccedil;&Atilde;O:</label><textarea name="descricao" id="descricaoConta"></textarea>
                </div>
            </form>
        </div>
        

       
       
        <a href="#" title="Inserir Conta" class="inserirConta"></a>
    
    </div>

<div id="popUpEditar" class="esconder">
        <a class="fechar" href="#" title="voltar"></a>
        <span class="nomePopUp" class="destaque cor">Inserir Conta</span>
  <div id='popUpCorpo'>

        <div id="conta">
            <form action="#" method="post">
                <div class="esq">
                        <input type="hidden" name="id_conta" id="id_conta" value="{{ conta.0.id }}" />
                    <label for="nomeContaEd">NOME:</label><input type="text" name="nomeConta" id="nomeContaEd"  value="{{ conta.0.nome }}"/>
                    <label for="dataContaEd">DATA:</label><input type="text" name="dataConta" id="dataContaEd" value="{{ conta.0.data|date:"d/m/Y"}}" />
                    <label for="valorContaEd">VALOR:</label><input type="text" name="valorConta" id="valorContaEd" value="{{conta.0.valor_total|floatformat:2 }}"/>
                   <label class="limpa">TIPO:</label>
                    <input type="radio" name="tipoContaEd" id="tipoSaidaEd" value="saida" 

                    {% if conta.0.tipo = 1 %}
                        checked="checked"
                    {% endif %}
                    /><label class="opcoes" for="tipoSaida">SA&Iacute;DA</label>
                    <input type="radio" name="tipoContaEd" id="tipoEntrada" value="entrada" 
                     
                    {% if conta.0.tipo = 0 %}
                        checked="checked"
                    {% endif %}
                    
                /><label class="opcoes" for="tipoEntrada">ENTRADA</label>
                    <label class="limpa">LIVRO:</label>
                    <input type="radio" name="livroEd" id="livroCaixa" value="caixa" 

                
                    {% if conta.0.livro = 0 %}
                        checked="checked"
                    {% endif %}

                /><label for="livroCaixa" class="opcoes">CAIXA</label>
                    <input type="radio" name="livroEd" id="livroConta" value="conta" 

                {% if conta.0.livro = 1 %}
                        checked="checked"
                    {% endif %}

                /><label for="livroConta" class="opcoes">CONTA</label>
                </div>
                <div id="dir">
                    <label for="descricaoConta">DESCRI&Ccedil;&Atilde;O:</label><textarea name="descricao" id="descricaoContaEd">{{ conta.0.descricao }}</textarea>
                </div>
            </form>
        </div>
    

       
        <div id="listaTransacao" class="arredonda">
            <div id="cabecarioLista" >
                <span>TRANSA&Ccedil;&Atilde;O</span>
            </div>
            <div id="cabecarioListaCorpo" >
                <span class="data"> DATA </span><span class="descricao">DESCRI&Ccedil;&Atilde;O</span>
                <span class="estado">ESTADO</span>
                <span class="valor">VALOR</span><span class="tipo">AÇÕES</span>
            </div>
            <div id="corpoLista">
        {% for transacao in transacoes %}
            <div class="linha clearfix">


                <span class="data"> {{transacao.data_vencimento|date:"d/m/Y" }}</span>
                <span class="descricao">{{ transacao.nome }}</span>
                <span class="valor">R$ {{ transacao.valor|floatformat:2 }}</span>
                {% if transacao.pago = 0 %}
                <span class="estado pendente">PENDENTE</span>
                {% else %}
                <span class="estado ok">OK</span>
                {% endif %}
                <span class="tipo"><a href="">Apagar</a> <a href="">Pagar</a></span>

        </div>
        {% endfor %}
              

            </div>
        </div>
       
        <a href="#" title="Inserir Conta" class="inserirContaEd"></a>



</div>

</div>
{% endblock %}
