{% extends "base.html" %}

{% block head_title %}
Livro
{% endblock %}

{% block  head_css_extra %} 

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/caixa.css">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/livro.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.click-calendario-1.0.css">
{% endblock %}
{% block  head_js_extra %} 
<script type="text/javascript" src="{{ STATIC_URL }}media/js/jquery.click-calendario-1.0-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}media/js/livro.js"></script>
{% endblock %}


{% block name_user %}Bruno Medeiros {% endblock %}


{% block base_content %}


      </br>
			<form method="post">
				<select name= "mes">
					<option value="">M&Ecirc;S</option>
					<option value="janeiro">Janeiro</option>
					<option value="fevereiro">Fevereiro</option>
					<option value="marco">Mar&ccedil;o</option>
					<option value="abril">Abril</option>
					<option value="maio">Maio</option>
					<option value="junho">Junho</option>
					<option value="julho">Julho</option>
					<option value="agosto">Agosto</option>
					<option value="setembro">Setembro</option>
					<option value="outubro">Outubro</option>
					<option value="novembro">Novembro</option>
					<option value="dezembro">Dezembro</option>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<select name= "ano">
					<option value="">ANO</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
				</select>

        <input type="submit" id="bt_filtrar" ></input>
			</form>
      <br/>
			<div id="livroConta" class="destaque cor">Livro Conta</div>
			
			<!--<form>
				<input type="checkbox" id="conta" name="conta" value="true" checked="checked"/><label for="conta"> Conta</label>
				<input type="checkbox" id="caixa" name="caixa" value="true"   checked="checked"/><label for="livro"> Livro</label>
			</form>-->
			
			<div id="titulo" class="arredonda"><span id="esq">ENTRADA</span><span>SA&Iacute;DA</span></div>
			
			<div id="informacoes">
				<div id="pagar">
					<div class="cabecario">
						<span class ="data">DATA</span>
						<span class ="descricao">DESCRI&Ccedil;&Atilde;O</span>
						<span class="valor">VALOR</span>					
          </div>
				<div class="corpo">
          {% if transacoes_conta_entrada %}
					  {% for transacao in transacoes_conta_entrada %}
              <span class ="data">{{ transacao.data_vencimento|date:"d/m/Y" }}</span>
					    <span class ="descricao">{{ transacao.nome }}</span>					
              <span class="valor">{{ transacao.valor|floatformat:2 }}</span>
            {% endfor %}
          {% endif %}
        </div>
			</div>
			
			<div id="receber">
				<div class="cabecario">
					<span class ="data">DATA</span>
					<span class ="descricao">DESCRI&Ccedil;&Atilde;O</span>
					<span class="valor">VALOR</span>				
        </div>
				<div class="corpo">
          {% if transacoes_conta_saida %}
					  {% for transacao in transacoes_conta_saida %}
              <span class ="data">{{ transacao.data_vencimento|date:"d/m/Y" }}</span>
					    <span class ="descricao">{{ transacao.nome }}</span>					
              <span class="valor">{{ transacao.valor|floatformat:2 }}</span>
			      {% endfor %}
          {% endif %}
        </div>
      </div>
			
 	<!--------------------------------------------------------------------------------------------->
	
	<div id="livroCaixa" class="destaque cor">Livro Caixa</div>
			
			<div id="tituloCaixa" class="arredonda"><span id="esq">ENTRADA</span><span>SA&Iacute;DA</span></div>
			
			<div id="informacoesCaixa">
				<div id="pagarCaixa">
					<div class="cabecario">
						<span class ="data">DATA</span>
						<span class ="descricao">DESCRI&Ccedil;&Atilde;O</span>
						<span class="valor">VALOR</span>					
          </div>
				<div class="corpo">
					{% if transacoes_caixa_entrada %}
					  {% for transacao in transacoes_caixa_entrada %}
              <span class ="data">{{ transacao.data_vencimento|date:"d/m/Y" }}</span>
					    <span class ="descricao">{{ transacao.nome }}</span>					
              <span class="valor">{{ transacao.valor|floatformat:2 }}</span>
			      {% endfor %}
          {% endif %}
        </div>
			</div>
			
			<div id="receberCaixa">
				<div class="cabecario">
					<span class ="data">DATA</span>
					<span class ="descricao">DESCRI&Ccedil;&Atilde;O</span>
					<span class="valor">VALOR</span>				</div>
				<div class="corpo">
					{% if transacoes_caixa_saida %}
					  {% for transacao in transacoes_caixa_saida %}
              <span class ="data">{{ transacao.data_vencimento|date:"d/m/Y" }}</span>
					    <span class ="descricao">{{ transacao.nome }}</span>					
              <span class="valor">{{ transacao.valor|floatformat:2 }}</span>
			      {% endfor %}
          {% endif %}
        </div>
			</div>
		</div>
	</div>

</div>

{%endblock%}

{% comment %}

{%block base_popup%}
<div id="popUp" class="esconder">
	<a class="fechar" href="#" title="voltar"></a>
	<span id="nomePopUp" class="destaque cor">Defina a nova transa&ccedil;&atilde;o</span>
	
	<form action="#" method="post">
	<label for="descricao" class="titulo">DESCRI&Ccedil;&Atilde;O:</label><br/>
	<input id="descricao" type="text" name="descricao" size="55"/><br/>
	<label for="valor" class="titulo">VALOR:</label><br/>
	<input type="text" name="valor" id="valor" size="20"/><br/>
	
	<label for="entrada" class="titulo">TIPO:</label> <label id="origem" for="conta" class="titulo">ORIGEM:</label><br/>
	<input  id="entrada" type="radio" name="tipo" value="entrada" checked="checked"/><label for="entrada">ENTRADA</label><input  id="conta" type="radio" name="origem" value="conta" checked="checked"/><label id="labelConta" for="conta">CONTA</label><br/>
	<input  id="saida" type="radio" name="tipo" value="saida"/><label for="saida">SAIDA</label>
	
	
	<input  id="caixa" type="radio" name="origem" value="caixa"/><label id="labelCaixa" for="caixa">CAIXA</label><br/>
	
	<input id="calendario" type="hidden" name="data" value="" />
	
	</form>
	<a class="inserir" href="#"></a>
</div>

{%endblock%}

{% endcomment %}
