{% extends "base.html" %}

{% block head_title %}
 Requisicao
{% endblock %}

{% block  head_css_extra %} 
<link   type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/caixa.css"/>
<link  type="text/css"  rel="stylesheet" href="{{ STATIC_URL }}css/requisicao.css"/>

{% endblock %}

{% block  head_js_extra %} 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/requisicao.js"></script>
{% endblock %}




{% block base_content %} 	
			<form>
			    <a class="inserirReq" href="#" title="Fa&ccedil;a sua Requisi&ccedil;&atilde;o">Faca Sua Requisi&ccedil;&atilde;o</a>
				<select name= "mes"onchange="scripting(this.value)">
					<option value="">M&Ecirc;S</option>
					<option value="janeiro">Janeiro</option>
					<option value="fevereiro">Fevereiro</option>
					<option value="marco">Mar&ccedil;o</option>
					<option value="abril">Abril</option>
					<option value="maio">Maio</option>
					<option value="junho">Junho</option>
					<option value="julho">Julho</option>
					<option value="agosto">Agosto</option>
					<option value="setembro">Setembro</option>
					<option value="outubro">Outubro</option>
					<option value="novembro">Novembro</option>
					<option value="dezembro">Dezembro</option>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<select name= "ano"onchange="scripting(this.value)">
					<option value="">ANO</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
				</select>
			</form>
			<div id="titulo" class="arredonda">REQUISI&Ccedil;&Otilde;ES DO M&EcircS DE JUNHO</div>
				<div id="informacoes">
					<div class="cabecario">
						<span class ="data">DATA</span>
						<span class ="assunto">ASSUNTO</span>
						<span class="estado">ESTADO</span>
						<span class="requisitante">REQUISITANTE</span>						
					</div>
					<div class="corpo">
					{% for requisicao in requisicoes %}
						<br/>
						<span class ="data">{{ requisicao.data|date:"d/m/Y" }}</span>
						<span class ="assunto">{{ requisicao.assunto }}</span>
						{% if requisicao.status == '1' %}
							<span id="{{ requisicao.id }}_estado" class="estado ok">OK</span>
						{% else %}
							{% if requisicao.status == '2' %}
								<span id="{{ requisicao.id }}_estado" class="estado pronto">PRONTO</span>
							{% else %}
								<span id="{{ requisicao.id }}_estado" class="estado pendente">PENDENTE</span>
							{% endif %}
						{% endif %}
						{% if requisicao.tipo == 0 %} {% comment %}geral{% endcomment %}
								<span class="requisitante">{{ requisicao.usuario.first_name }}<a id="{{ requisicao.id }}" href="#">&gt;&gt;VISUALIZAR</a><input type="hidden" name="{{ requisicao.id }}" value="c" /></span>	
						{% else %}  {% comment %}contrato{% endcomment %}
								<span class="requisitante">{{ requisicao.usuario.first_name }}<a id="{{ requisicao.id }}" href="#">&gt;&gt;VISUALIZAR</a><input type="hidden" name="{{ requisicao.id }}" value="g" /></span>	
						{% endif %}
					
					{% endfor %}
					</div>
				</div>
	
	  </div>


{% endblock %}

{% block base_popup  %} 

<div id="popUpContrato" class="esconder">
<a class="fecharContrato" href="#" title="voltar"></a>
	<span id="nomePopUpContrato" class="destaque cor">REQUISI&ccedil;&atilde;O TIPO: CONTRATO</span>
	<div id="informacoesContrato">	
		<ul>
			<li><span class="titulo">Descri&ccedil;&atilde;o:</span><br/></span><span id="descricaoContrato"></span>
			</li>
			<li><span class="titulo">Nome do Projeto:</span><span id="nomeProjContrato"></span>
			</li>
			<li><span class="titulo">Contratante:</span><span id="contratante"></span>
			</li>
			<li><span class="titulo">CNPJ/CPF:</span><span id="cnpjCpfContrato"></span>
			</li>
			<li><span class="titulo">Valor:</span><span id="valorContrato"></span>
			</li>
			<li><span class="titulo">Estado: &nbsp;</span><select name="estado" ><option>Pendente</option> <option >Pronto</option> <option>OK</option></select>
			
			</li>
			<li><span class="titulo">Obs:</span><span id="obsContrato"></span>
			</li>
		</ul>
		<input type="hidden" name="id"  />
	</div>
	<a class="responderContrato" href="#" title="Responder a requisi&ccedil;&atilde;o"></a>
	<a class="salvarContrato" href="#" title="Salvar altera&ccedil;&otilde;es  na requisi&ccedil;&atilde;o"></a>
	<a class="baixarContrato" href="#" title="Baixar Proposta"></a>
</div>

<div id="popUpGeral" class="esconder">
<a class="fecharGeral" href="#" title="voltar"></a>
	<span id="nomePopUpGeral" class="destaque cor">REQUISI&ccedil;&atilde;O TIPO: Geral</span>
	<div id="informacoesGeral">	
		<ul>
			<li><span class="titulo">Descri&ccedil;&atilde;o:</span><br/><span id="descricaoGeral"></span>
			</li>
			<li><span class="titulo">Estado: &nbsp;</span><select name="estado" ><option>Pendente</option> <option >Pronto</option> <option>OK</option></select>
			</li>	
		</ul>
		<input type="hidden" name="id"  />
	</div>
	<a class="responderGeral" href="#" title="Responder a requisi&ccedil;&atilde;o"></a>
	<a class="salvarGeral" href="#" title="Salvar altera&ccedil;&otilde;es  na requisi&ccedil;&atilde;o"></a>
</div>


<!-- Novo Pop Up INSERIR  REQUISICAO -->
<div id="popUpInsertReq" class="esconder">
    <a class="fecharInsertReq" href="#" title="voltar"></a>
        <span id="nomePopUpInsertReq" class="destaque cor">Defina o novo modelo</span>
        <br/><br/>
        <form id="formInsertReq" name="formInsertReq" action="#" method="post">
            <label for="assunto">ASSUNTO</label>
            <input type="text" name="assunto" id="assunto" size="55" />
            <label for="descricao">DESCRI&Ccedil;&Atilde;O DO MODELO:</label>
            <textarea id="descricao" name="descricao" ></textarea>
           <label for="tipoReq">TIPO DA REQUISI&Ccedil;&Atilde;O:</label>
            <select id="tipoReq" size="1" name="tipoReq">
                <option selected value="0">Requisi&ccedil;&atilde;o</option>
                <option value="1">Contrato</option>
            </select>
            <label for="valor">VALOR:</label>
            <input type="text" name="valor" id="valor" size="37"/>
        </form>
        <a class="armazenar" href="#" title="Criar Requisi&ccdeil;&atilde;o"></a>
</div>


{% endblock %}

