{% extends "base.html" %}

{% block head_title %}
Modelos
{% endblock %}

{% block  head_css_extra %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/modelos.css">
{% endblock %}

{% block  head_js_extra %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/modelos.js"></script>
{% endblock %}

{% block name_user %}Bruno Medeiros {% endblock %}

{% block base_content %}
    <form>
        <a class="botao" href="#" title="armazenar"></a>
    </form>

    <span class="mostrar informativo">Texto para informar o usu&aacute;rio</span>
    <div id="livroConta" class="destaque cor">Modelos Armazenados no Sistema</div>
        <div id="lista">
            <ul>
                {% for modelo in modelos %}
                <li id="{{ modelo.id }}"><a href="#" title="Clique para obter mais detalhes">{{ modelo.nome }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block base_popup %}
    <div id="popUp" class="esconder">
        <a class="fechar" href="#" title="voltar"></a>
        <span id="nomePopUp" class="destaque cor">nome do modelo</span>
        <br/><br/>
        <h3>Descri&ccedil;&atilde;o:</h3>
        <input id="valor" type="hidden" name="idModelo" value="teste" />

        <div>
            <p><span id="descricaoModelo"></span></p>
        </div>
	
        <a class="remover" href="#" title="Excluir Modelo"></a>
        <a class="download" href="#" title="Download do Modelo"></a>
    </div>

    <div id="popUpInserir" class="esconder">
        <a class="fecharInserir" href="#" title="voltar"></a>
        <span id="nomePopUpInserir" class="destaque cor">Defina o novo modelo</span>
        <br/><br/>
        <form id="form_modelo" action="insert/" method="post" enctype="multipart/form-data">
            <label for="nome">NOME DO MODELO:</label>
            <input type="text" name="nome" id="nome" size="55" />
            <label for="endereco">CAMINHO DO MODELO:</label>
            <input type="file" name="endereco" id="endereco" size="37"/>
            <label for="descricao">DESCRI&Ccedil;&Atilde;O DO MODELO:</label>
            <textarea id="descricao" name="descricao" ></textarea>
        </form>
        <a class="armazenar" href="#" title="Armazenar"></a>
    </div>
{% endblock %}
