{% extends "base.html" %}

{% block head_title %}
Relat&oacute;rios
{% endblock %}

{% block  head_css_extra %} 
<link rel="stylesheet" href="{{ STATIC_URL }}css/relatorios.css">
{% endblock %}
{% block  head_js_extra %} 

{% endblock %}



{% block name_user %}Bruno Medeiros {% endblock %}


{% block base_content %} 
			<div  class="destaque cor">Escolha o relat&oacute;rio &agrave; ser gerado</div>
			<div class="relatorio"><a class="figura" href="#" title="Gerar Relat&oacute;rio"></a><span>Relat&oacute;rios de todas as transa&ccedil;&otilde;es</span></div>
			<div class="relatorio"><a class="figura" href="#" title="Gerar Relat&oacute;rio"></a><span>Relat&oacute;rios de todas as contas</span></div>
			<div class="relatorio"><a class="figura" href="#" title="Gerar Relat&oacute;rio"></a><span>Relat&oacute;rios de todos os projetos</span></div>
			<div class="relatorio"><a class="figura" href="#" title="Gerar Relat&oacute;rio"></a><span>Relat&oacute;rios de todas as requisi&ccedil;&otilde;es</span></div>
			 		
		
{% endblock%}

{%block base_popup%} {% endblock%}
