{% extends "base.html" %}

{% block head_title %}
Contas
{% endblock %}

{% block  head_css_extra %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/caixa.css" type="text/css"></link>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/contas.css" type="text/css"></link>
{% endblock %}

{% block  head_js_extra %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.click-calendario-1.0-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/contas.js"></script>
{% endblock %}

{% block name_user %}Bruno Medeiros{% endblock %}

{% block base_content %}
        <a href="#" id="botao" title="Adicionar Conta"></a>
        <form action="#" method="post">
            <select name= "mes" onchange="scripting(this.value)">
                <option value="">M&Ecirc;S</option>
                <option value="janeiro">Janeiro</option>
                <option value="fevereiro">Fevereiro</option>
                <option value="marco">Mar&ccedil;o</option>
                <option value="abril">Abril</option>
                <option value="maio">Maio</option>
                <option value="junho">Junho</option>
                <option value="julho">Julho</option>
                <option value="agosto">Agosto</option>
                <option value="setembro">Setembro</option>
                <option value="outubro">Outubro</option>
                <option value="novembro">Novembro</option>
                <option value="dezembro">Dezembro</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <select name= "ano" onchange="scripting(this.value)">
                <option value="">ANO</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
            </select>
        </form>
        <div id="titulo" class="arredonda">
            <span id="esq">ENTRADA</span>
            <span>SA&Iacute;DA</span>
        </div>
        <div id="informacoes">
            <div id="pagar">
                <div class="cabecario">
                    <span class="data">DATA</span>
                    <span class="descricao">DESCRI&Ccedil;&Atilde;O</span>
                    <span class="valor">VALOR</span>
                </div>
                <div class="corpo">
                    {% for conta in entradas %}
                        <br/>
                        <span class="data">{{ conta.data|date:"d/m/Y" }}</span>
                        <span class="descricao">{{ conta.descricao }}</span>
                        <span class="valor">R$ {{ conta.valor|floatformat:2 }}</span>
                    {% endfor %}
                </div>
            </div>

            <div id="receber">
                <div class="cabecario">
                    <span class="data">DATA</span>
                    <span class="descricao">DESCRI&Ccedil;&Atilde;O</span>
                    <span class="valor">VALOR</span>
                </div>
                <div class="corpo">
                    {% for conta in saidas %}
                        <br/>
                        <span class="data">{{ conta.data|date:"d/m/Y" }}</span>
                        <span class="descricao">{{ conta.descricao }}</span>
                        <span class="valor">R$ {{ conta.valor|floatformat:2 }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_popup %}
    <div id="popUp" class="esconder">
        <a class="fechar" href="#" title="voltar"></a>
        <span id="nomePopUp" class="destaque cor">Inserir Conta</span>

        <div id="conta">
            <form action="#" method="post">
                <div id="esq">
                    <label for="nomeConta">NOME:</label><input type="text" name="nomeConta" id="nomeConta" />
                    <label for="dataConta">DATA:</label><input type="text" name="dataConta" id="dataConta" />
                    <label for="valorConta">VALOR:</label><input type="text" name="valorConta" id="valorConta" />
                    <label for="parcelasConta">PARCELAS:</label><input type="text" name="parcelasConta" id="parcelasConta" />
                    <label class="limpa">TIPO:</label>
                    <input type="radio" name="tipoConta" id="tipoSaida" value="saida" /><label for="tipoSaida">SA&Iacute;DA</label>
                    <input type="radio" name="tipoConta" id="tipoEntrada" value="entrada" /><label for="tipoEntrada">ENTRADA</label>
                    <label class="limpa">LIVRO:</label>
                    <input type="radio" name="livro" id="livroCaixa" value="caixa" /><label for="livroCaixa">CAIXA</label>
                    <input type="radio" name="livro" id="livroConta" value="conta" /><label for="livroConta">CONTA</label>
                </div>
                <div id="dir">
                    <label for="descricaoConta">DESCRI&Ccedil;&Atilde;O:</label><textarea name="descricao" id="descricaoConta"></textarea>
                </div>
            </form>
        </div>
        {% comment %}
        <div id="transacao" class="arredonda">
            <div id="cabecarioTransacao" >
                <span>TRANSA&Ccedil;&Atilde;O</span>
            </div>
            <div id="corpoTransacao">
                <form action="#" method="post">
                    <a href="#" class="adicionar" title="Adicionar Transa&ccedil;&atilde;o"></a>
                    <label for="descricaoTransacao">DESCRI&Ccedil;&Atilde;O:</label><input type="text" name="descricaoTransacao" id="descricaoTransacao" />
                    <label for="origemTransacao">ORIGEM:</label><label for="valorTransacao">VALOR:</label>
                    <label for="estadoTransacao">ESTADO:</label><label for="dataTransacao">DATA:</label>
                    <select name="origemTransacao" id="origemTransacao">
                        <option value="caixa">CAIXA</option>
                        <option value="conta">CONTA</option>
                    </select>
                    <input type="text" name="valorTransacao" id="valorTransacao" />
                    <select name="estadoTransacao" id="estadoTransacao">
                        <option value="pendente">Pendente</option>
                        <option value="ok">OK</option>
                        <option value="atrasado">Atrasado</option>
                    </select>
                    <input type="text" name="data" id="dataTransacao" />
                </form>
            </div>
        </div>
        {% endcomment %}

        {% comment %}
        <div id="listaTransacao" class="arredonda">
            <div id="cabecarioLista" >
                <span>TRANSA&Ccedil;&Atilde;O</span>
            </div>
            <div id="cabecarioListaCorpo" >
                <span class="data"> DATA </span><span class="descricao">DESCRI&Ccedil;&Atilde;O</span>
                <span class="valor">VALOR</span><span class="tipo">TIPO</span><span class="estado">ESTADO</span>
            </div>
            <div id="corpoLista">
                <span class="data"> 00/00/0000 </span>
                <span class="descricao">DESCRI&Ccedil;&Atilde;O DESCRI&Ccedil;&Atilde;O DESCRI&Ccedil;&Atilde;O</span>
                <span class="valor">R$ 0,00</span>
                <span class="tipo">ENTRADA</span>
                <span class="estado pendente">PENDENTE</span>
                <span class="data"> 00/00/0000 </span>
                <span class="descricao">DESCRI&Ccedil;&Atilde;O DESCRI&Ccedil;&Atilde;O DESCRI&Ccedil;&Atilde;O</span>
                <span class="valor">R$ 0,00</span>
                <span class="tipo">ENTRADA</span>
                <span class="estado ok">OK</span>
            </div>
        </div>
        {% endcomment %}
        <a href="#" title="Inserir Conta" class="inserirConta"></a>
    </div>
{% endblock %}
