#menu ul span#relatorios
{
	background-image:url(../imagens/relatorios_clicado.png);
}
#menu ul a:hover span#relatorios
{
	background-image:url(../imagens/relatorios_clicado.png);
}

#conteudo
{
	background-image:url(../imagens/PageLivroImages/fundo.jpg);
	background-repeat:no-repeat;
	height:740px;
	text-align:left;
	position:relative;
	left:3px;
}
/* CSS Document */

.destaque
{
	font-size:24px;
	font-weight:bold;
	display:block;
	width:764px;
	height:40px;
	background-image:url(../imagens/reta.png);
	background-repeat:repeat-x;
	background-position:left bottom;
	float:left;
	padding-left:30px;
    padding-top:20px;
    margin-left:5px;
	/*position:relative;
	top:20px;
	left:5px;*/
	/*text-align:left;
	padding-bottom:10px;
	padding-left:30px;*/
}


a.figura
{
	display:block;
	width:48px;
	height:48px;
	background-image:url(../imagens/PageRelatoriosImages/report_icon.jpg);
	background-repeat:no-repeat;
	float:left;
}
.relatorio
{
	display:block;
	width:500px;
	height:50px;
	position:relative;
	top:50px;
	left:30px;
	clear:both;
}

#definicoes
{
    display:block;
	width:100%;
	clear:both;
    padding:15px;
    line-height: 50px;
}

#definicoes span,#definicoes input[type=submit],#definicoes input[type=checkbox]
{
margin-left:20px;
}


.relatorio span
{
	font-size:17px;
	position:relative;
	top:10px;
	display:block;
}
