/* CSS Document */


#menu ul span#requisicao
{
	background-image:url(../imagens/requisicao_clicado.png);
	
}
#menu ul a:hover span#requisicao
{
	background-image:url(../imagens/requisicao_clicado.png);/*mudar a imagem aki!!!*/
}
#conteudo
{
	background-image:url(../imagens/PageContasImage/fundo.jpg);
	background-repeat:no-repeat;
	height:547px;
	text-align:left;
	position:relative;
	left:1px;
	top:-10px;
	
}

#conteudo form
{
	position:relative;
	top:20px;
	right:30px;
	float:right;

}
#titulo
{
	width:750px;
	background-color:#3994DA;
	padding:5px 0 5px 5px;
	color:#FFFFFF;
	font-weight:bolder;
	position:relative;
	top:60px;
	left:27px;
}

#informacoes
{
	background-color:#CCCCCC;
	width:754px;
	height:405px;
	position:relative;
	top: 65px;
	left: 26px;
}

.corpo
{
	width:752px;
}
div.cabecario
{
	height:20px;
	width:750px;
}
div.cabecario span 
{
	font-size:14px;
	color:#FFFFFF;
	text-align:left;
	display:block;
	float:left;
	padding-top:2px;
	font-weight:bold;
}
div.corpo span
{
font-size:12px;
text-align:left;
	display:block;
	float:left;
	padding-top:2px;
	font-weight:bold;
}
.assunto
{
	width:350px;
}
.estado
{
	width:80px;
}
.requisitante
{
	width:210px;
}
.data
{
	width:100px;
}

.corpo span a
{
	color:#3994DA;
	float:right;
	padding-right:4px;
}

#informacoes .corpo span.ok
{
	color:#339900;
	font-weight:bolder;
}
#informacoes .corpo span.pendente
{
	color:#BB0404;
	font-weight:bolder;
}
#informacoes .corpo span.pronto
{
	color:#FF9900;
	font-weight:bolder;
}

#popUpContrato
{
	width:616px;
	height:450px;
	background-image:url(../imagens/PageRequisicaoImages/fundoContrato.png);
	background-repeat:no-repeat;
	z-index:10;
	position:absolute;
	text-align:left;
}
#nomePopUpContrato
{
	position:relative;
	top:15px;
	left:9px;
	width:583px;
	text-align:left;
	padding-left:15px;
	text-align:left;
	height:40px;
}

#popUpContrato ul,#popUpGeral ul
{
margin: 0 0 0 0;
padding: 0 0 0 0;
list-style-image:url(../imagens/PageAdminImages/ponto.jpg);

}

#informacoesContrato
{
	display:block;
	width:560px;
	height:395px;
	position:relative;
	top:25px;
	left:50px;
	
}

#tela
{

	background-color:#3994DA;
	z-index:9;
	position:absolute;
	top:0px;
	left:0px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;

}
#popUpGeral
{
	width:616px;
	height:262px;
	background-image:url(../imagens/PageRequisicaoImages/fundoPopUpGeral.png);
	background-repeat:no-repeat;
	z-index:10;
	position:absolute;
	text-align:left;
	left:700px;
	float:right;
}

#popUpInsertReq
{
	width:409px;
	height:388px;
	background-image:url(../imagens/PageModelosImages/fundoPopModelo.png);
	background-repeat:no-repeat;
	z-index:10;
	position:absolute;
	text-align:left;
}
#popUpInsertReq label
{
	font-family:Calibri;
	font-size:14px;
	padding-top:10px;
	padding-bottom:5px;
	display:block;
	
}
#popUpInsertReq input
{
width:350px;
}
#popUpInsertReq textarea
{
	width:350px;
	height:80px;
}
#popUpInsertReq form
{
	position:relative;
	top:10px;
	left:20px;
}

#nomePopUpInsertReq
{
    position:relative;
    top:0px;
    left:4px;
    width:385px;
    text-align:left;
    padding-left:15px;
    text-align:left;
}
.armazenar
{
	width:89px;
	height:23px;
	background-image:url(../imagens/PageModelosImages/botaoArmazenar.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
	top:25px;
	right:35px;

}

#nomePopUpGeral
{
	position:relative;
	top:15px;
	left:9px;
	width:583px;
	text-align:left;
	padding-left:15px;
	text-align:left;
	height:40px;
}

#informacoesGeral
{
	display:block;
	width:560px;
	height:210px;
	position:relative;
	top:25px;
	left:50px;
	
}
.destaque
{
	font-size:24px;
	font-weight:bold;
	display:block;
	/*width:464px;
	height:40px;*/
	background-image:url(../imagens/reta.png);
	background-repeat:repeat-x;
	background-position:left bottom;
	float:left;
	padding-left:30px
	/*text-align:left;
	padding-bottom:10px;
	padding-left:30px;*/
}
.fecharGeral, .fecharContrato, .fecharInsertReq
{
	width:13px;
	height:13px;
	background-image:url(../imagens/PageModelosImages/x.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
	top:17px;
	right:22px;
	z-index:12;
}
.baixarContrato,.baixarGeral
{
	width:135px;
	height:30px;
	background-image:url(../imagens/PageRequisicaoImages/botao_baixar_proposta_01.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
	top:0px;
	right:22px;
	z-index:12;
}
a.baixarContrato:hover,a.baixarGeral:hover
{
		background-image:url(../imagens/PageRequisicaoImages/botao_baixar_proposta_02.png);
}
.salvarContrato,.salvarGeral
{
	width:125px;
	height:30px;
	background-image:url(../imagens/PageRequisicaoImages/botao_salvar_alteracoes_01.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
	top:0px;
	right:22px;
	z-index:12;
}
a.salvarContrato:hover,a.salvarGeral:hover
{
	background-image:url(../imagens/PageRequisicaoImages/botao_salvar_alteracoes_02.png);
}

.responderContrato,.responderGeral
{
	width:125px;
	height:30px;
	background-image:url(../imagens/PageRequisicaoImages/botao_responder_01.png);
	background-repeat:no-repeat;
	float:right;
	position:relative;
	top:-1px;
	right:21px;
	z-index:12;
}
a.responderGeral:hover,a.responderContrato:hover
{
background-image:url(../imagens/PageRequisicaoImages/botao_responder_02.png);
}

ul
{
color:#8C8C8C;
font-weight:100;
}
ul li
{
	padding-bottom:10px;
}
.titulo
{
	color:#000000;
	
}
