<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>$afeCash</display-name>
	<description> Gerenciador Financeiro </description>

	<!-- Servlet Mapeados do Sistema -->
	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>com.appspot.safecash.servlets.LoginServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<!-- ==========================  -->

	<!-- Configurações -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- ==========================  -->

</web-app>